body{
    margin: auto;
    height: auto;
}
ul {
    display: flex;
    list-style: none;
    text-align: center;
    background: #273c75;
    margin: auto;
    text-transform: uppercase;
}
ul li {
    padding: 30px;
    
}
ul li a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    
}
.bg-img img{
    height: 70vh;
    width: 100%;
    filter:opacity();
}
a:hover{
    color:#1e90ff;
}
.container {
    width: 100%;
    height: 80vh;
    margin: auto;
    padding: 0px;
    border: 0px;
    
}
.aboutme{
    position: absolute;
    bottom: 40%;
    left: 30%;
    color:  #273c75;
}
h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
p{
    font-weight: 500;
    font-size: 20px;
}
footer{
    padding: 20px;
    background:#273c75;
    display: flex;
    justify-content: center;
}
.home-contact a{
    color: #ffffff;
    font-size: 30px;
    height: 30px;   
}
.home-contact p{
    color: #ffffff;
    margin-top: 20px;
}
.home-contact a:hover{
    color:#1e90ff;
}


/* contact */

.containerOne{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0px;
    border: 0px;
    background: crimson;
}
.contact-form{
    display: flex;
}
.form{
    margin-left: 15%;
    margin-top: 15vh;
    height: 60vh;
}
.form p{
    color: white;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    padding: 8px;
    width: 150%;
    margin: 2px 0;
    box-sizing: border-box;
    outline: none;
}
textarea{
    height: 20vh;
} 
input[type="submit"]{
    margin-left: 130%;
    padding: 8px;
    outline: none;
}
.contact{
    margin-left: 13%;
    margin-top: 7.5vh;
    font-size: 50px;
    
}
h3{
    text-transform: uppercase;
    color: white;
}
.contactOne{
    font-size: 12px;
    margin-top: 35vh;
}
.contactOne a{
    text-decoration: none;
    color: white;
}
small{
    color: white;
}
.social-contact{
    color:rgb(29, 96, 141);
    font-size: 25px;
    margin-top: 150px;
}
.social-contact a{
    text-decoration: none;
    color: #ffffff;
}

/* cv */
.info-cv{
    width:80%;
    margin-left: 10%;
    margin-top: 7vh;
    border-style: solid;
    border-color: black;
    height: 87%; 
    display: flex;
    background-color: #273c75;
    border-radius: 5px;
    border-color: #273c75;

}
h4{
    color: #ffffff;
    font-size: 40px;
    
}
.cv-myname p{
    font-size: 20px;
    color: #ffffff;
}
.cv-address p{
    margin-left: 0%;
    font-size: 15px;
    color: #ffffff;
}
.cv-contact p{
    margin-left: auto;
    font-size: 15px;
    color: #ffffff ;
    
}
.cv-contact a{
    text-decoration: none;
    color: #ffffff;
}
.img-me img{
    height: 70%;
    margin-left: 280%;
    margin-top: 28%;
    border-color: white;
}
.cv-contact a:hover{
    color: #1e90ff;
}
.cv-icons-social a{
    color:#ffffff;
}
.cv-icons-social a:hover{
    color:#1e90ff;
}
iframe{
    width: auto;
}
