body{
    margin: auto;
    height: auto;
    /* font-family: sans-serif; */
}
ul {
    display: flex;
    list-style: none;
    text-align: center;
    background: #273c75;
    margin: auto;
    text-transform: uppercase;
    /* position:sticky;
    top: 0; */
}
ul li {
    padding: 30px;
}
ul li a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    
}
.bg-img img{
    height: 70vh;
    width: 100%;
    filter:opacity();
}
a:hover{
    color:#1e90ff;
}
.container {
    width: 100%;
    height: 80vh;
    margin: auto;
    padding: 0px;
    border: 0px;
    
}
.aboutme{
    position: absolute;
    bottom: 40%;
    left: 30%;
    color:  #273c75;
}
h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
p{
    font-weight: 500;
    font-size: 20px;
}
footer{
    padding: 20px;
    background:#273c75;
    display: flex;
    justify-content: center;
}
.home-contact a{
    color: #ffffff;
    font-size: 30px;
    height: 30px;   
}
.home-contact p{
    color: #ffffff;
    margin-top: 20px;
}
.home-contact a:hover{
    color:#1e90ff;
}


/* contact */

.containerOne{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0px;
    border: 0px;
    background: #d1ccc0;
}
.contact-form{
    display: flex;
}
.form{
    margin-left: 15%;
    margin-top: 15vh;
    height: 60vh;
    
}
.form p{
    color: white;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    padding: 8px;
    width: 150%;
    margin: 2px 0;
    box-sizing: border-box;
    outline: none;
    background-color: #273c75;
    border: none;
    border-radius: 5px;
    outline-color: #ffffff;
    cursor: pointer;
}
textarea{
    height: 20vh;
} 
input[type="submit"]{
    margin-left: 150%;
    padding: 8px;
    outline: none;
    border: none;
    background-color: #273c75;
    border-radius: 5px;
    width: 90px;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: #1e90ff;
}
.contact{
    margin-left: 13%;
    margin-top: 1vh;
    font-size: 50px;
    
}
h3{
    text-transform: uppercase;
    color: white;
}
.contactOne{
    font-size: 12px;
    margin-top: 35vh;
}
.contactOne a{
    text-decoration: none;
    color: white;
}
small{
    color: white;
}
.social-contact{
    color:rgb(29, 96, 141);
    font-size: 25px;
    margin-top: 150px;
}
.social-contact a{
    text-decoration: none;
    color: #ffffff;
    
}

iframe{
    height: 70vh;
    width: 100%;
}
.social-contact a:hover{
    color: #1e90ff;
}
.contactOne{
    position: sticky;
    top: 0;
}

.footer-contact a{
    color: #ffffff;
}
.footer-contact p{
    color: #ffffff;
    
}
.footer-contact a:hover{
    color: #1e90ff;
}
/* cv */
.container-cv{
    position: sticky;
    top: 0;
}
.container-cv ul{
    position: sticky;
    top: 0;
}
.info-cv{
    width:80%;
    margin-left: 10%;
    margin-top: 10vh;
    border-style: solid;
    border-color: black;
    height: 87%; 
    display: flex;
    background-color: #273c75;
    border-radius: 5px;
    border-color: #273c75;

}
h4{
    color: #ffffff;
    font-size: 40px;
    
}
.cv-myname p{
    font-size: 20px;
    color: #ffffff;
}
.cv-address p{
    margin-left: 0%;
    font-size: 15px;
    color: #ffffff;
}
.cv-contact p{
    margin-left: auto;
    font-size: 15px;
    color: #ffffff ;
    
}
.cv-contact a{
    text-decoration: none;
    color: #ffffff;
}
.img-me img{
    height: 70%;
    margin-left: 280%;
    margin-top: 28%;
    border-color: white;
}
.cv-contact a:hover{
    color: #1e90ff;
}
.cv-icons-social a{
    color:#ffffff;
}
.cv-icons-social a:hover{
    color:#1e90ff;
}
.cv-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    grid-template-areas: 
    "nav main" ;
    margin: 80px 80px;   
    margin-top: 2px;
}
nav{
    margin: 40px 40px;
}
main{
    margin: 40px 40px;
}

nav h2{
    color: crimson;
}
main h2{
    color: crimson;
}
nav main p{
    margin: 30px;
}
hr{
    background-color:#95a5a6;
    /* border-color: #ffffff; */
}
.button {
    background-color:crimson;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 23%;
    border-radius: 5px;
}
.button:hover {
    background-color:#1e90ff;
}
.button a{
    text-decoration: none;
    font-family: sans-serif;
}
.cv-footer a{
    color: #ffffff;
}
.cv-footer p{
    color: #ffffff;
}

/* .project */

/* .container,
.project{
    background-color: #f7f1e3;
    margin-top: 0%;
    height: 100vh;
} */
.container-project ul{
    position: sticky;
    top: 0;
}
.project h1{
    color: crimson;
    
}
.img-project{
    margin-top: 3%;
}
.img-project1 img{
    /* border-radius: 50%; */
    width: 50%;
    height: 35vh;
    margin-left: 130px;
   
}
.img-project1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    grid-template-areas: 
    ".img1 .title1" ;
}
.img-project2 img{
    /* border-radius: 50%; */
    width: 50%;
    height: 36vh;
    margin-left: 130px;
    
}
.img-project2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    grid-template-areas: 
    ".img2 .title2" ;
    
}
.img-project3 img{
    /* border-radius: 50%; */
    width: 50%;
    height: 37vh;
    margin-left: 130px;
    margin-top: 15px;
}
.img-project3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    grid-template-areas: 
    ".img3 .title3" ;
}
.title1,
.title2,
.title3{
    margin-right: 20%;
}
.img1{
    margin-left: 20%;
}
.img2{
    margin-left: 20%;
}
.img3{
    margin-left: 20%;
}
.img-project
h2{
    color: crimson;
}

.img1 img{
    margin: 5px;
    margin-top: 8px;
    margin-left: 15%;
}
.img2 img{
    margin: 5px;
    margin-top: 35px;
    margin-left: 15%;
}
.img3 img{
    margin: 5px;
    margin-top: 38px;
    margin-left: 15%;
}
.project hr{
    border-color: crimson;
}
.project-footer footer{
    margin-top: 3%;
    padding: 20px;
    background:#273c75;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.project-footer footer p a{
    color: #ffffff;
}
.project-footer a:hover{
    color:#1e90ff ;
}
/* Responsive */
@media(min-width:800px){
    body{
        width: 49%;
    }

}
@media(min-width:400px){
    body{
        width: 100%;
    }

    .social-contact{
        width: 100%;
    }
    
}